<footer>
  <section class="footer__mobile">
    <a></a>

    <nav class="first__list--footer">
      <ul>
        <li>articles</li>
        <li>books</li>
        <li>events</li>
        <li>reasons</li>
        <li>tips</li>
      </ul>
    </nav>

    <nav class="second__list--footer">
      <ul>
        <li>twitter</li>
        <li>instagram</li>
        <li>mastodon.social</li>
      </ul>
    </nav>

    <small>&copy 2021</small>
    <small class="we__components"
      >we
      <div class="heart">❤</div>
      components</small
    >
  </section>
</footer>
