<footer>
  <section class="footer__mobile">
    <a class="button__footer--mobile" href="./index.html#top"></a>

    <div class="tablet__box--list">
      <nav class="first__list--footer">
        <ul>
          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >articles</a
            >
          </li>

          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >books</a
            >
          </li>

          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >events</a
            >
          </li>

          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >reasons</a
            >
          </li>

          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab">tips</a>
          </li>
        </ul>
      </nav>

      <nav class="second__list--footer">
        <ul>
          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >twitter</a
            >
          </li>

          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >instagram</a
            >
          </li>

          <li>
            <a href="https://adalab.es/" target="_blank" title="adalab"
              >mastodon.social</a
            >
          </li>
        </ul>
      </nav>

      <div class="footer__components">
        <small>&copy 2021</small>
        <small class="we__components"
          >we
          <div class="heart">❤</div>
          components</small
        >
      </div>
    </div>
  </section>
</footer>
