<main>
  <article class="article__insomnia--mobile">
    <small class="insomnia__tips">insomnia tips</small>
    <h2 class="looking__through">looking through a window</h2>
    <p class="looking__paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>

    <div class="rectangle__button">
      <a
        class="button__go"
        href="https://adalab.es/"
        target="_blank"
        title="adalab"
        >go</a
      >
    </div>
  </article>

  <section class="reasonstopurchase">
    <h1 class="title__reasons">3 reasons to purchase</h1>

    <article class="first__reason--article">
      <h2 class="title__article">Ut sed metus</h2>
      <p class="paragraph__article">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>

    <article class="second__reason--article">
      <h2 class="title__article">Curabitur ac erat</h2>
      <p class="paragraph__article">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="third__reason--article">
      <h2 class="title__article">Morbi dictum</h2>
      <p class="paragraph__article">Aliquam in dolor et dolor tincidunt.</p>
    </article>

    <a
      class="button__reasons"
      href="https://adalab.es/"
      target="_blank"
      title="adalab"
    >
      <div class="more__reasons">More reasons</div></a
    >
  </section>
</main>
