<main>
  <article class="article__insomnia--mobile">
    <small class="insomnia__tips">insomnia tips</small>
    <h2 class="looking__through">looking through a window</h2>
    <p class="looking__paragraph">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>

    <div class="rectangle__button">
      <a
        class="button__go"
        href="https://adalab.es/"
        target="_blank"
        title="adalab"
        >go</a
      >
    </div>
  </article>

  <section>
    <h2></h2>
    <p></p>

    <h2></h2>
    <p></p>

    <h2></h2>
    <p></p>

    <a></a>
  </section>
</main>
