$font_roboto: "Roboto", sans-serif;
$font_robotoslab: "Roboto Slab", serif;
$font_color: white;
$back_footer_color: #304268;
$orange_button: #f26002;
$back_main_color: #eff9ff;
$insomnia_tips: #8ccbea;
