.footer__mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: $font_roboto;
  background-color: $back_footer_color;
  color: $font_color;
  line-height: 1.88;

  .first__list--footer {
    margin-top: 37px;
  }

  .second__list--footer {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.we__components {
  display: inline;
  justify-content: center;

  margin-bottom: 45px;

  .heart {
    color: $orange_button;
  }
}
