.header {
  width: 320px;
  height: 598px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cover.jpg);

  .menu__ham--mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background-image: url(../images/ico-menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0271bc;
  }

  .h1__header--mobile {
    text-align: center;
    font-family: $font_robotoslab;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 55px;
    color: $font_color;
    margin-top: 184px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .h4__header--mobile {
    color: $font_color;
    font-family: $font_roboto;
    font-weight: 50;
    margin-top: 10px;
  }

  .button__header--mobile {
    background-image: url(../images/ico-scroll-down.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    margin-top: 45px;
  }
}
