/*START OF THE FIRST ARTICLE*/
.article__insomnia--mobile {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    margin-left: 39px;
    margin-right: 39px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 275px;
    margin-right: 275px;
  }

  .insomnia__tips {
    color: $insomnia_tips;
    font-family: $font_roboto;
    text-transform: capitalize;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      line-height: 3.14;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }

  .looking__through {
    text-transform: capitalize;
    font-family: $font_robotoslab;

    @media screen and (min-width: 1280px) {
      font-size: 32px;
    }
  }

  .looking__paragraph {
    font-family: $font_roboto;
    color: #4a4a4a;
    margin-top: 15px;
    line-height: 30px;
    font-size: 18px;

    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: 1.5;
    }
  }

  .rectangle__button {
    display: flex;
    justify-content: center;
    width: 76px;
    height: 45px;
    border: solid 2px $orange_button;
    border-radius: 22.5px;
    margin-top: 30px;
    margin-bottom: 45px;
    box-shadow: 1px 1px 5px rgb(179, 179, 179);

    &:hover {
      animation: changeColor 3s infinite;
    }

    @keyframes changeColor {
      from {
        background-color: rgb(246, 186, 186);
        border-color: rgb(246, 186, 186);
      }

      to {
        background-color: rgb(150, 224, 200);
        border-color: rgb(150, 224, 200);
      }
    }

    @media screen and (min-width: 768px) {
      width: 91px;
    }
  }

  .button__go {
    font-family: $font_roboto;
    font-size: 20px;
    color: $orange_button;
    line-height: 45px;
    text-transform: capitalize;
  }

  @media screen and (min-width: 768px) {
    max-width: 690px;
  }
}

/*END OF THE FIRST ARTICLE*/

/*START OF THE FIRST SECTION*/

.reasonstopurchase {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: $back_main_color;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    transform: translateY(center);
    align-items: center;
    justify-content: center;
  }
}

.title__reasons {
  grid-column: 1 / 5;
  font-family: $font_robotoslab;
  text-align: center;
  text-transform: capitalize;
  margin-top: 60px;
  line-height: 30px;

  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 1.5;
  }
}

.first__reason--article {
  grid-column: 1 / 5;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;

  @media screen and (min-width: 768px) {
    text-align: center;
    grid-column: 1 / 1;
    margin-left: 28px;
    margin-right: 28px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 280px;
  }
}

.second__reason--article {
  grid-column: 1 / 5;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;

  @media screen and (min-width: 768px) {
    text-align: center;
    grid-column: 2 / 2;
    margin-left: 28px;
    margin-right: 28px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 150px;
  }
}

.third__reason--article {
  grid-column: 1 / 5;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;

  @media screen and (min-width: 768px) {
    text-align: center;
    grid-column: 3 / 3;
    margin-left: 28px;
    margin-right: 28px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 150px;
  }
}

.title__article {
  font-family: $font_robotoslab;
  font-size: 18px;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    width: 212.3px;
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;
    width: 212.3px;
  }
}

.paragraph__article {
  font-family: $font_roboto;
  font-size: 18px;
  line-height: 30px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 212.3px;
  }
}

.button__reasons {
  display: grid;
  grid-column: 1 / 5;
  align-content: center;
  text-align: center;
  justify-self: center;
  width: 164px;
  height: 45px;
  margin-top: 45px;
  margin-bottom: 60px;
  background-color: $orange_button;
  border-radius: 22.5px;
  box-shadow: 1px 1px 5px rgb(129, 129, 129);

  @media screen and (min-width: 1280px) {
    width: 255px;
  }

  &:hover {
    animation: changeColorTwo 3s infinite;
  }

  @keyframes changeColorTwo {
    from {
      background-color: $orange_button;
    }

    to {
      background-color: rgb(83, 209, 167);
    }
  }

  .more__reasons {
    font-family: $font_roboto;
    color: $font_color;
    font-size: 20px;
  }
}
